<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img style="width:30px; border-radius:100px;" src="..\assets\svg\logos\logo.png" alt="Logo">
            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">Health talk</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      
        <li class="menu-item active">
            <a href="admin/home" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Home</div>
            </a>
        </li>
        <li class="menu-item open">
            <a href="" class="menu-link menu-toggle ">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">Management</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="admin/accounts" class="menu-link ">
                        <div data-i18n="Account">Account</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="admin/questions" class="menu-link">
                        <div data-i18n="Connections">Questions</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="admin/topics" class="menu-link">
                        <div data-i18n="Connections">Topics</div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>
