
@{
    ViewData["Title"] = "QuestionDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content container pb-0">
    <div class="page-header page-header-light page-header-reset" style="margin-bottom:0;">
        <div class="row " style="align-items:baseline;">
            <div class="col d-flex">
                <div>
                    <img style="width:40px; border-radius:100px;" src="..\assets\svg\logos\logo.png" alt="Logo">
                </div>
                <div class="d-flex ml-3" style="flex-direction:column;">
                    <span class="">Asked today</span>
                    <span class="">Asked today</span>
                </div>
            </div>
            <div class="col-auto">
                <a class="btn btn-primary" data-toggle="modal" data-target="#addEventToCalendarModal">Ask Question</a>

            </div>
        </div>
    </div>
</div>
<div class="container pt-3 shadow-lg">
    <p class="page-header-title" style="color: black; font-size: 1.19rem;">Update PostgreSQL database if current date/time minus date/time value is greater than 1 hour TUpdate PostgreSQL database if current date/time minus date/time value is greater than 1 hour</p>

    <p>
        I am working on a Laravel project with PhpMyAdmin and I am quite new to Laravel, I have created tables with models, and already migrated them, now I need to add new columns but when I add the columns and then migrate it shows that noting there to be migrated

        Also same thin for the relationships, I applied 1-1 between 2 tables and migrated, but the database is not updated, and from time to time I got an error of duplicating session table as well, how to solve this?

        Students table
    </p>
</div>
<div class="container pt-3">
    <div>
        <h3>4 Answers</h3>
    </div>
    <div class=" row border-top">
        <div class="d-flex  col-md-12">
            <div class="pt-3">
                <img style="width:40px; border-radius:100px;" src="..\assets\svg\logos\logo.png" alt="Logo">
            </div>
            <div class="coment-bottom bg-white p-1 px-2">
                <div class="commented-section mt-2">
                    <div class="shadow-lg p-3 bg-white  " style="border-radius:20px;">
                        <div class="d-flex flex-row align-items-center commented-user">
                            <h5 class="mr-2">Samoya Johns</h5>
                        </div>
                        <div class="comment-text-sm">
                            <p style="color:black">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt ut labore et dolore magna aliqua..
                            </p>
                        </div>
                    </div>
                    <div class="reply-section">
                        <div class="d-flex flex-row align-items-center voting-icons">
                            <h6 class="ml-2 mt-1">Reply</h6>
                            <h6 class="ml-2 mt-1">Reply</h6>
                            <span class="mb-1 ml-4">
                                Answered 5
                                hours ago
                            </span>
                        </div>
                    </div>
                </div>
                @*------------  reply   -------------*@
                <div class=" row ">
                    <div class="d-flex  col-md-12">
                        <div class="pt-3">
                            <img style="width:40px; border-radius:100px;" src="..\assets\svg\logos\logo.png" alt="Logo">
                        </div>
                        <div class="coment-bottom bg-white p-1 px-2">
                            <div class="commented-section mt-2">
                                <div class="shadow-lg p-3 bg-white  " style="border-radius:20px;">
                                    <div class="d-flex flex-row align-items-center commented-user">
                                        <h5 class="mr-2">Samoya Johns</h5>
                                    </div>
                                    <div class="comment-text-sm">
                                        <p style="color:black">
                                            <span style="font-weight: 900; font-family: sans-serif; ">Samoya Johns</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                            do eiusmod tempor incididunt ut labore et dolore magna aliqua..
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-section">
                                    <div class="d-flex flex-row align-items-center voting-icons">
                                        <h6 class="ml-2 mt-1">Reply</h6>
                                        <span class="mb-1 ml-4">
                                            Answered 5
                                            hours ago
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                @*------------ end reply   -------------*@
            </div>
        </div>
    </div>
    <div class=" row border-top">
        <div class="d-flex  col-md-12">
            <div class="pt-3">
                <img style="width:40px; border-radius:100px;" src="..\assets\svg\logos\logo.png" alt="Logo">
            </div>
            <div class="coment-bottom bg-white p-1 px-2">
                <div class="commented-section mt-2">
                    <div class="shadow-lg p-3 bg-white  " style="border-radius:20px;">
                        <div class="d-flex flex-row align-items-center commented-user">
                            <h5 class="mr-2">Samoya Johns</h5>
                        </div>
                        <div class="comment-text-sm">
                            <p style="color:black">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt ut labore et dolore magna aliqua..
                            </p>
                        </div>
                    </div>
                    <div class="reply-section">
                        <div class="d-flex flex-row align-items-center voting-icons">
                            <h6 class="ml-2 mt-1">Reply</h6>
                            <span class="mb-1 ml-4">
                                Answered 5
                                hours ago
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div style=" border-top: 1px solid #7b747c61; "> <h3 class="mt-3">Your Answer</h3> </div>
    <div class="quill-custom">
        <div class="js-quill" style="min-height: 15rem;"
             data-hs-quill-options='{
                               "placeholder": "Type your message...",
                                "modules": {
                                  "toolbar": [
                                    ["bold", "italic", "underline", "strike", "link", "image", "blockquote", "code", {"list": "bullet"}]
                                  ]
                                }
                               }'>
        </div>
    </div>
    <div class=" mt-4">
        <a class="btn btn-primary" data-toggle="modal" data-target="#addEventToCalendarModal">Post Your Answer</a>
    </div>
</div>
@section Scripts{


    <script>
        $(document).on('ready', function () {
            var quill = $.HSCore.components.HSQuill.init('.js-quill');
        });
    </script>
}


