@{
    ViewData["Title"] = "Health Talk";
}
<div class="content container">
    <div class="page-header page-header-light page-header-reset" style="margin-bottom:0;">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="page-header-title" style="color:black;">Top Questions</h1>
            </div>
            <div class="col-auto">
                <a class="btn btn-primary" data-toggle="modal" data-target="#addEventToCalendarModal">Ask Question</a>
            </div>
        </div>

        <div class="row align-items-center mt-4">
            <div class="col-auto">
                <a class="btn btn-primary" data-toggle="modal" data-target="#addEventToCalendarModal">Ask Question</a>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="card p-3" style="box-shadow: 5px 6px 6px 2px #e9ecef; overflow:auto;">
        <div class=" d-flex questions">
            <div class="pt-2 mr-3  text-answer " style=" width:19%; text-align: end; ">

                <div>
                    <span>100</span>
                    <span>answers</span>
                </div>

            </div>
            <div class="">
                <h3>
                    <a href="#" style="color: #0074cc;text-decoration: none;">
                        VBA formula
                        referencing a changing sheet name
                    </a>
                </h3>
                <div>
                    I am new to VBA and am trying to create a code that uses the formula which references a sheet.
                    However,
                    the sheet name changes every month. What functions should I be using to reference the sheet?
                    I ...
                </div>
                <div class="d-flex mt-1" style=" justify-content: space-between; flex-wrap: wrap; column-gap: 6px; row-gap: 8px;">
                    <div>

                        <ul class="d-flex pl-0 s-user-card--awards">
                            <li><a class="badge badge-soft-info p-2" href="#">Marketing team</a></li>

                        </ul>
                    </div>
                    <div class="d-flex">
                        <div>
                            <a href="/users/20883704/shura">
                                <div>
                                    <img src="https://www.gravatar.com/avatar/15d975ef8d79a133e095c9fc7e4cafc7?s=32&amp;d=identicon&amp;r=PG"
                                         alt="Shura's user avatar" width="16" ,="" height="16"
                                         class="s-avatar--image">
                                </div>
                            </a>
                        </div>
                        <div class="d-flex mr-2">
                            <div>
                                <a href="/users/20883704/shura">Shura</a>
                            </div>
                        </div>
                        <time class="s-user-card--time">
                            <span class="relativetime">
                                asked  1 min
                                ago
                            </span>
                        </time>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{


  
}

